@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.question-mark:before {
  content: '?';
  font: bold 1.2em Tahoma, Arial, Helvetica, sans-serif;
}

.check-mark:before {
  content: '✓';
  font: bold 1.2em Tahoma, Arial, Helvetica, sans-serif;
}